<% if @comment.valid? %>
$(".js-comments").prepend("<%= escape_javascript(render(@comment)) %>");
$(".new_comment").replaceWith("<%= escape_javascript(render partial: 'comments/form', locals: { topic: @topic, post: @post, comment: @new_comment }) %>");
$('.js-comments-count').html("<%= @post.comments.count %> Comments");
$('#alerts').html("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:notice] %></div>");
<% else %>
$(".new_comment").replaceWith("<%= escape_javascript(render partial: 'comments/form', locals: { topic: @topic, post: @post, comment: @comment }) %>");
<% end %>