<% topic = post.topic %>
<% show_topic ||= false %>
<div class="media">
  <%= render partial: 'votes/voter', locals: { topic: topic, post: post } %>
  <%= link_to [topic, post], class: 'pull-left' do %>
      <%= image_tag(post.image.thuzmb.url) if post.image? %>
  <% end %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to (markdown post.title), [topic, post] %>
    </h4>
    <small>
      <%= get_avtar %>
      submitted <%= time_ago_in_words(post.created_at) %> ago by
      <%= link_to post.user.name, post.user %>
      <% if show_topic %>
          to <%= link_to post.topic.name, post.topic %>
      <% end %>
      <br/>
      <%= post.comments.count %> Comments
    </small>
  </div>
</div>